header .logo{
    width:42px;
    height:auto;
    filter:hue-rotate(0deg) contrast(0%) saturate(1) brightness(3);
}

body{
    margin: 0 auto;
    font-family:'Playfair Display';
}

  /* General Styles */
body:before {
    font-family:Arial, sans-serif;
    background-color: #1c0202;
    background: url("menubackground.jpg") no-repeat center;
    background-size: 100%;
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -2;
    /* filter:hue-rotate(35deg) contrast(100%) saturate(1) brightness(10); */
    filter:blur(6px) grayscale(1);

}

h1{
    color: #000000;
    margin: 0;
    font-size: 32px;
}

/* Header */
header {
    background-color:  #3c0008;
    width: 100%;
    display: flex;
    align-items: center; 
    gap: 50px;    
}

.menuBar{
    
    display: flex;
    gap: 20px;
    padding: 0 20px;

}

.brand {
    display: flex;
    align-items: center;           
    gap: 10px;   
    padding: 0 20px;
}

.site-header {
    display: flex;
    align-items: center;           
    justify-content: space-between;
}

.button{
    background-color: #3f070f;
    padding: 10px 20px;
    border-radius: 20px;

}
.button:hover{
    background-color: #70232e;
    padding: 10px 20px;
    border-radius: 20px;
    transition-duration: 0.3s;
}